# shellcheck shell=bash

watch_file nix/*.nix cabal.project* ./*/*.cabal

export CABAL_DIR=${CABAL_DIR:-$HOME/.local/state/cabal}

cabal2 () {
    cabal --distdir=dist-newstyle2 "$@"
}
export_function cabal2

use flake "#default"
